<div class="flex flex-col max-w-[300px] m-auto items-center h-screen justify-center gap-5">
    <div class="flex flex-row gap-1 justify-start w-full">
        <span class="font-bold text-xl">DEFAI</span>
    </div>
    <p class="text-md mb-4 text-black">
        Welcome to DEFAI! provide custom no-code AI chatbots. Sign in to start creating your own.
    </p>
    <button
        class="w-[300px] flex border h-14 bg-primary-foreground border-gray-400"
        (click)="onLoginClick()"
    >
        <div class="flex flex-row w-full justify-center">
            <span class="text-center">Continue with Google</span>
        </div>
    </button>
</div>
