<div class="flex flex-col lg:p-10">
    <h1 class="text-3xl font-medium">Text</h1>
    <span class="mt-1 text-lg">
      Here, you can upload text data with your business information.
    </span>
    <div class="sm:flex items-end w-full my-4 gap-2 sm:justify-between">
      <textarea [(ngModel)]="inputText" class="resize-none w-full p-2.5 min-h-[100px]" placeholder="Your text here..."></textarea>
      <div class="flex-1">
        <div> 
            <button (click)="onUpload()" class="w-32 bg-blue-500 text-white hover:bg-blue-600 rounded-md">Upload</button>
          </div>
      </div>
    </div>

    <div class="text-sm mt-1 h-5">
      <span></span>
    </div>

    <div class="mt-2 text-xl font-semibold">Manage Text Data</div>
    <div class="flex justify-between gap-2 p-3">
      <div class="mt-1 text-lg">
        Here, you can manage your text data.
      </div>
      <Button
        variant="outline"
        class="w-32 bg-red-500 text-white hover:bg-red-600 disabled:bg-red-300 min-w-fit rounded-md" (click)="onDeleteSelected()">
        Delete
      </Button>
    </div>
    <div className="rounded-md border mt-5 p-5">
        <table class="min-w-full leading-normal">
            <thead>
                <tr class="h-16 bg-gray-100">
                    <th
                        class="px-5 py-3 border-b-2 border-gray-200 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Select
                    </th>
                    <th
                        class="px-5 py-3 border-b-2 border-gray-200 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        File Name
                    </th>
                    <th
                        class="px-5 py-3 border-b-2 border-gray-200 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Updated At
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="h-16 border-b border-gray-200" *ngFor="let text of textData$ | async">
                  <td class="px-5 py-2 align-middle">
                    <!-- Add a template reference variable #checkbox -->
                    <input type="checkbox" class="leading-tight" #checkbox (change)="onCheckboxChange(text._id, checkbox.checked)" />
                  </td>
                  <td class="px-5 py-2 align-middle overflow-hidden overflow-ellipsis whitespace-nowrap max-w-xs">
                    {{ text.data }}
                  </td>                  
                  <td class="px-5 py-2 align-middle">
                    {{ text.updated_at | date:'dd/MM/yyyy' }}
                  </td>
                </tr>
              </tbody>
        </table>
    </div>
    <div class="flex items-center py-4">
        <Button>
          Previous
        </Button>

      <div class="flex-1 text-center text-sm text-muted-foreground">
      </div>
      <div>
        <Button
          variant="outline"
          size="sm"
        >
          Next
          <!-- <MoveRight class="ml-2"></MoveRight> -->
        </Button>
      </div>
    </div>
  </div>